
.responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

h1 {
  text-align: center;
  font-family: "Open Sans";
  color: #4c4c4c;
}

div.pictures {
  margin-top: -1%;
  margin-left: -1%;
  margin-right: -1%;
}
